main {
  background-image: none;
}

.flex-grow-1 {
  background-image: url("../../assets/img/fondos/fondoEstadioDesktop.png");
  background-repeat: repeat;
}

.sidebar-width .btn-outline-primary,
.sidebar-width > ul > li > .btn-outline-primary {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
  font-weight: normal;
  transition: all 0.3s ease;
}

.sidebar-width .btn-outline-primary:hover,
.sidebar-width > ul > li > .btn-outline-primary:hover {
  background-color: transparent;
  color: #0d6efd;
  font-weight: 700;
}

.sidebar-width .collapse .btn-outline-primary {
  background-color: transparent;
  color: #0d6efd;
  border-color: #0d6efd;
  font-weight: normal;
  transition: all 0.3s ease;
}

.sidebar-width .collapse .btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
}

.intro-paragraph {
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
}

.profile-icon {
  background: none !important;
  border: none !important;
  font-size: 18px;
}

.img-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  position: absolute;
  bottom: 10px;
}

#btn-album {
  right: 55px;
}

#btn-config {
  left: 55px;
}

.profile-icon:hover {
  transform: scale(1.2) !important;
}
