.flex-grow-1 {
  background-image: url("../../assets/img/fondos/fondoEstadioDesktop.png");
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  font-family: "Quicksand", sans-serif !important;
}

.lista-fondo {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 1rem;
}

h2,
p,
.panel-admin li.texto-panel {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #ffd700 !important;
  text-shadow:
    -1.8px -1.8px 0 #2c3e50,
    1.8px -1.8px 0 #2c3e50,
    -1.8px 1.8px 0 #2c3e50,
    1.8px 1.8px 0 #2c3e50;
  line-height: 1.5;
  list-style: none !important;
  padding: 0 0.5rem;
}

.panel-admin li.texto-panel > span.me-2,
.panel-admin li.texto-panel strong {
  color: #2c3e50 !important;
  font-weight: 700 !important;
  text-shadow:
    -1.4px -1.4px 0 #000,
    1.4px -1.4px 0 #000,
    -1.4px 1.4px 0 #000,
    1.4px 1.4px 0 #000;
}

.sidebar-width .btn-outline-primary,
.sidebar-width > ul > li > .btn-outline-primary {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
  font-weight: normal;
  transition: all 0.3s ease;
}

.sidebar-width .btn-outline-primary:hover,
.sidebar-width > ul > li > .btn-outline-primary:hover {
  background-color: transparent;
  color: #0d6efd;
  font-weight: 700;
}

.sidebar-width .collapse .btn-outline-primary {
  background-color: transparent;
  color: #0d6efd;
  border-color: #0d6efd;
  font-weight: normal;
  transition: all 0.3s ease;
}

.sidebar-width .collapse .btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
}

h1 {
  color: #ffffff;
  text-shadow:
    -1.8px -1.8px 0 #000,
    1.8px -1.8px 0 #000,
    -1.8px 1.8px 0 #000,
    1.8px 1.8px 0 #000;
}

h1,
h2,
h2 ~ p {
  text-align: center;
}

.flex-grow-1 {
  text-align: justify;
}

.flex-grow-1 label {
  color: #ffffff !important;
  font-weight: 700;
  text-shadow:
    -1.8px -1.8px 0 #000,
    1.8px -1.8px 0 #000,
    -1.8px 1.8px 0 #000,
    1.8px 1.8px 0 #000;
}

.flex-grow-1 button {
  background-color: #2c3e50;
  color: #ffffff;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 900;
  text-shadow:
    -1.8px -1.8px 0 #000,
    1.8px -1.8px 0 #000,
    -1.8px 1.8px 0 #000,
    1.8px 1.8px 0 #000;
}

.flex-grow-1 button:hover {
  transform: scale(1.06);
}

.grupo_campos {
  padding: 8px;
}

.btn-album:hover {
  transform: scale(1.06);
}
