main {
  background-image: url("../../assets/img/fondos/fondoEstadioDesktop.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  font-family: "Quicksand", sans-serif !important;
}

p {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #ffd700 !important;
  text-shadow:
    -1.8px -1.8px 0 #2c3e50,
    1.8px -1.8px 0 #2c3e50,
    -1.8px 1.8px 0 #2c3e50,
    1.8px 1.8px 0 #2c3e50;
  line-height: 1.5;
  list-style: none !important;
}

h1 {
  color: #ffffff;
  text-shadow:
    -1.8px -1.8px 0 #000,
    1.8px -1.8px 0 #000,
    -1.8px 1.8px 0 #000,
    1.8px 1.8px 0 #000;
}

.ruleta-wrapper {
  text-align: center;
  margin: 0 auto 10px;
  max-width: 350px;
}

.ruleta-wrapper-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.ruleta-container {
  position: relative;
  width: 350px;
  height: 350px;
  bottom: 23px;
}

.ruleta {
  position: relative;
  width: 100%;
  height: 100%;
}

.ruleta-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ruleta-items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ruleta-item {
  position: absolute;
  left: 43%;
  top: 28%;
  transform: rotate(calc(45deg * var(--i) + 22deg)) translate(85px)
    rotate(calc(-45deg * var(--i) - 22deg));
}

.ruleta-item img {
  object-fit: contain;
}

.pos-0 {
  transform: rotate(calc(45deg * 0 + 22deg)) translate(80px)
    rotate(calc(-45deg * 0 - 22deg));
}

.pos-1 {
  transform: rotate(calc(45deg * 1 + 30deg)) translate(80px)
    rotate(calc(-45deg * 1 - 22deg));
}

.pos-2 {
  transform: rotate(calc(45deg * 2 + 35deg)) translate(90px)
    rotate(calc(-45deg * 2 - 20deg));
}

.pos-3 {
  transform: rotate(calc(45deg * 3 + 25deg)) translate(95px)
    rotate(calc(-45deg * 3 - 25deg));
}

.pos-4 {
  transform: rotate(calc(45deg * 4 + 17deg)) translate(85px)
    rotate(calc(-45deg * 4 - 25deg));
}

.pos-5 {
  transform: rotate(calc(45deg * 5 + 20deg)) translate(80px)
    rotate(calc(-45deg * 5 - 20deg));
}

.pos-6 {
  transform: rotate(calc(45deg * 6 + 4deg)) translate(85px)
    rotate(calc(-45deg * 6 - 18deg));
}

.pos-7 {
  transform: rotate(calc(45deg * 7 + 20deg)) translate(85px)
    rotate(calc(-45deg * 7 - 20deg));
}

.acciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -23px;
}

.acciones p a {
  text-decoration: none;
  color: #ffd700;
  font-size: 16px;
  font-weight: 600;
  text-shadow:
    -1.8px -1.8px 0 #2c3e50,
    1.8px -1.8px 0 #2c3e50,
    -1.8px 1.8px 0 #2c3e50,
    1.8px 1.8px 0 #2c3e50;
}

.btn-girar {
  background-color: #ffd700;
  color: #2c3e50;
  padding: 12px 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-girar:hover {
  background-color: #f39c12;
}

.botones-giros {
  position: absolute;
  left: 62%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-giros {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-giros:hover {
  background-color: #34495e;
}

.tienda-link {
  margin-top: 10px;
}

.tienda-link a {
  text-decoration: none;
  color: #ffd700;
  font-size: 16px;
  font-weight: 600;
  text-shadow:
    -1.8px -1.8px 0 #2c3e50,
    1.8px -1.8px 0 #2c3e50,
    -1.8px 1.8px 0 #2c3e50,
    1.8px 1.8px 0 #2c3e50;
}

.tienda-link a:hover {
  color: #f39c12;
}

button {
  background-color: #2c3e50;
  border: 1.5px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  transform: scale(1.06);
}

@keyframes giroFondo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes giroItems {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.girar-background {
  animation: giroFondo 3s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.girar-items {
  animation: giroItems 3s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}
