body {
  background-image: url("../../assets/img/fondos/fondoEstadioDesktop.png");
  background-position: center;
  background-size: cover;
}

.sidebar-width .btn-outline-primary,
.sidebar-width > ul > li > .btn-outline-primary {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
  font-weight: normal;
  transition: all 0.3s ease;
}

.sidebar-width .btn-outline-primary:hover,
.sidebar-width > ul > li > .btn-outline-primary:hover {
  background-color: transparent;
  color: #0d6efd;
  font-weight: 700;
}

button img {
  width: 32px;
  height: 32px;
}

.card button {
  border: none !important;
}

button img:hover {
  transform: scale(1.2);
}
